# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data
*.jpg
*.avi
*.json
# *.txt

# Weights
*.pth
*.pt

# Checkpoints
*.pkl
*.ckpt

# Logs / Results
*.log
wandb/*
*.ipynb_checkpoints
runs/*

# personal files
personal
example.py
